In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [13]:
%%time
train = pd.read_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/train.csv')
test = pd.read_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/test.csv')

CPU times: user 848 ms, sys: 31.2 ms, total: 879 ms
Wall time: 878 ms

In [14]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [15]:
train.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15',
       'cat16', 'cat17', 'cat18', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4',
       'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'target'],
      dtype='object')

In [16]:
train.shape

(300000, 32)

In [17]:
test.shape

(200000, 31)

In [18]:
cat = [f'cat{i}' for i in range(19)]

In [19]:
train_test_cat = pd.concat([train[cat], test[cat]], axis =0)

In [20]:
for i in range(19):
    le = LabelEncoder()
    train_test_cat[f'cat{i}'] = le.fit_transform(train_test_cat[f'cat{i}'].values)

train_test_cat.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18
0,0,8,0,1,1,33,0,44,54,0,266,0,0,0,0,1,3,3,1
1,0,8,0,0,4,33,8,48,3,5,167,0,1,0,1,3,1,3,1
2,0,10,0,0,4,33,0,30,38,9,73,0,1,0,0,1,3,3,1
3,0,10,0,2,4,33,0,50,3,5,249,0,0,0,0,1,3,3,1
4,0,8,6,1,4,33,2,32,54,0,79,0,0,0,1,1,1,3,1

In [21]:
train[cat] = train_test_cat[:train.shape[0]]

In [22]:
test[cat] = train_test_cat[train.shape[0]:]

In [23]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,0,8,0,1,1,33,0,44,54,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,0,8,0,0,4,33,8,48,3,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,0,10,0,0,4,33,0,30,38,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,0,10,0,2,4,33,0,50,3,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,0,8,6,1,4,33,2,32,54,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [24]:
test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,5,0,5,0,0,5,33,0,8,23,...,0.735690,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489
1,6,0,7,2,0,4,2,7,31,51,...,0.313703,0.928885,0.516602,0.600169,0.795224,0.248987,0.654614,0.347944,0.565520,0.388580
2,8,0,13,2,0,5,2,0,8,28,...,0.448201,0.424876,0.344729,0.242073,0.270632,0.746740,0.335590,0.341238,0.252289,0.411592
3,9,1,11,2,0,5,33,0,30,23,...,0.666092,0.598943,0.561971,0.806347,0.735983,0.538724,0.381566,0.481660,0.348514,0.325723
4,11,0,5,0,1,5,33,0,8,46,...,0.772229,0.479572,0.767745,0.252454,0.354810,0.178920,0.763479,0.562491,0.466261,0.585781

In [25]:
train.to_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/train_le.csv', index=False)
test.to_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/test_le.csv', index=False)